# 默认忽略的文件
**/.gradle/
**/**.class
**/src/main/**/build/
**/src/test/**/build/
**/gradle/wrapper/gradle-wrapper.jar

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache
**/src/main/**/bin/
**/src/test/**/bin/

### IntelliJ IDEA ###
**/.idea/
**.iws
**.iml
**.ipr
/out/
**/out/
### NetBeans ###
**/.nb-gradle/
### VS Code ###
**/.vscode/
